body{
	margin: 0;
        padding: 0;
        
	}


#wrapper{
	width:900px;
	background-color: #C0C0C0;
	margin:auto;
	height: auto;
}
#header{
	padding: 1em;
	width: 868px;
	margin: 0px;
	height: 120px;
	background-color: #00cc67;
    text-align: center;
		
}
#divline{
	width: 898px;
	background-color: #ff934d;
	height: 70px;
	margin: auto;
	padding: 1px;
	}
#divnav{
	width: 384px;
	margin: 0 auto;
	}
#divnav ul{
	list-style-type: none;
}
#divnav ul li{
	float: left;
}
#divnav ul li a{
	display: block;
	height: 30px;
	background-color: #cbcc00;
	width: 70px;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	margin:5px;
	border-radius: 5px;
	border: 1px solid #000;
}
#divbody{
	padding: 1em;
	height: auto;
	width: 898px;
	background-color: #e0e0d1;
	margin: auto;
	padding: 1px;
        text-align: center;
	
}
#divfooter{
	padding: 1em;
	height: 70px;
	width: 868px;
	background-color: #9999ff;
	margin: 0px auto;
	
}